<table  mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="order">
    <th mat-header-cell *matHeaderCellDef> Order </th>
    <td mat-cell *matCellDef="let element"> {{element.order}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> History </th>
    <td mat-cell *matCellDef="let element" (dblclick)="viewHistoryPdf(element)"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="pathFile">
    <th mat-header-cell *matHeaderCellDef style="width: 20px"> Action </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="viewHistoryPdf(element)" >
        <mat-icon class="">print</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


